<% if(components.length) { %>

	<div>

		<% components.forEach(function(component) { %>

			<div class="aigis-module">

				<h1 class="aigis-module__heading" id="<%- component.config.name %>">
					<%- component.config.name %>
				</h1>

				<%- component.html %>

			</div>

		<% }) %>

	</div>

<% } else { %>

	<% if(html.length) { %>

		<h1>All Colours</h1>

		<p>Below you can find all references to colours used throughout the project. This includes:</p>

		<ul>
			<li>_variables.scss</li>
			<li>CSS comments</li>
			<li>Keywords</li>
			<li>RGBA</li>
		</ul>

		<%- html %>

	<% } else { %>

		<img class="aigis-welcome" src="<%- root %>aigis_assets/images/bureau-crest-with-text.svg">

	<% } %>

<% } %>
