<!DOCTYPE html>
<html lang="en" class="aigis-html">
	<head>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">

		<title>Styleguide</title>

		<script src="https://use.typekit.net/xpw3jps.js"></script>
		<script>try{Typekit.load({ async: true });}catch(e){}</script>

		<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">

		<link href="<%- root %>assets/css/styles.css" rel="stylesheet">

		<link href="<%- root %>aigis_assets/styles/highlight/prism.css" rel="stylesheet">
		<link href="<%- root %>aigis_assets/styles/theme.css" rel="stylesheet">

	</head>
	<body class="aigis-body">

		<div class="aigis-container">

			<%- include('sidemenu') %>

			<div class="aigis-contents">

				<div class="aigis-contents__body">
					<%- include('components') %>
				</div>

			</div>

			<div class="aigis-modal__wrapper">

				<div class="aigis-modal__header">

					<a href="<%- root %>index.html" class="aigis-modal__logo">
						<img src="<%- root %>aigis_assets/images/bureau-shield.svg" alt="Website Logo">
					</a>

					<div class="aigis-modal__close">

						<div class="aigis-modal__close-back">
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="16 30 9 11">
								<path fill="#535353" fill-rule="evenodd" d="M16.75 35.37l5.35 4.58c.04.04.1.05.15.05.05 0 .1-.03.13-.07l.9-1.03c.06-.08.05-.2-.04-.28l-3.97-3.4 3.97-3.4c.1-.08.1-.2.03-.3l-.9-1c-.03-.06-.08-.1-.14-.1-.04 0-.1.03-.13.06l-5.35 4.6c-.04.02-.07.08-.07.14 0 .06.03.1.07.15"/>
							</svg>
							Back
						</div>

						<svg class="aigis-modal__close-cross" xmlns="http://www.w3.org/2000/svg" viewBox="1384 27 16 16">
							<path fill="#535353" fill-rule="evenodd" d="M1400 28.62l-1.62-1.62-6.38 6.38-6.38-6.38-1.62 1.62 6.38 6.38-6.38 6.38 1.62 1.62 6.38-6.38 6.38 6.38 1.62-1.62-6.38-6.38"/>
						</svg>

					</div>

				</div>

				<div class="aigis-modal"></div>

			</div>

		</div>

		<img class="link-icon" src="<%- root %>aigis_assets/images/link.svg" alt="Link to single component view">

		<script src="<%- root %>aigis_assets/dist/styleguide.js"></script>
		<script src="<%- root %>assets/js/main.min.js"></script>

	</body>
</html>
