<nav class="header-mobile-nav">
    <ul class="header-mobile-nav__items">
        {% for item in header.primary_menu.items %}
            <li
                class="header-mobile-nav__item"
                :class="open ? 'is-open' : ''"
                x-data="{ open: false }"
            >
                <div class="header-mobile-nav__parent">
                    <a href="{{ item.link }}">{{ item.title }}</a>

                    <span
                        class="header-mobile-nav__toggle"
                        @click="open = !open"
                    >
                        <svg><use xlink:href="#icon-chevron"></use></svg>
                    </span>
                </div>

                {% if item.children %}
                    <div
                        class="header-mobile-nav__children"
                        x-show="open"
                    >
                        {% for child in item.children %}
                            <a href="{{ child.link }}">{{ child.title }}</a>
                        {% endfor %}
                    </div>
                {% endif %}
            </li>
        {% endfor %}

        <li class="header-mobile-nav__translation">

            {% include "partials/translation-menu.twig" %}

        </li>
        <li>
        		<form role="search" method="get" class="search-input" data-colour="light" action="{{ site.home_url }}">

				<input class="search-input__input" type="text" name="s" value="{{ search_term }}" aria-label="Search" placeholder="Search">

				<button class="search-input__button / button--naked" aria-label="Search">
					<svg><use xlink:href="#icon-search-rounded"></use></svg>
				</button>

				<input type="hidden" name="lang" value="en">

			</form>
        </li>
    </ul>
</nav>
