<nav class="site-header__navigation">
    <ul>
        {% for item in header.primary_menu.items %}
            <li class="nav-main-item">
                <a class="nav-main-link link-highlight {{item.class}}" data-highlight="{{ item.highlight_colour }}" href="{{ item.link }}">{{ item.title }}</a>
                {% if item.children %}
                    {% if item.submenu_style == "multiple_list" %}
                        <ul
                            class="nav-drop"
                        >
                            {% for child in item.children %}
                                <li class="nav-drop-item">
                                    <a 
                                        href="{{ child.link }}"
                                        class="
                                            {{child.class}}
                                            {{ child.boxed_link ? 'boxed-link' : 'nav-title-item link-highlight' }}
                                            {% if child.boxed_link %}
                                                boxed-link
                                            {% else %}
                                                nav-title-item link-highlight
                                            {% endif %}
                                        "
                                        {% if child.link != '#' %}
                                            data-highlight="{{ item.highlight_colour }}"
                                        {% endif %}
                                    >

                                        {% set boxedLinkImage = child.meta('boxed_link_image') %}

                                        {% if boxedLinkImage %}
                                            {{ imgix({
                                                src: boxedLinkImage.url,
                                                alt: boxedLinkImage.alt,
                                                params: {
                                                    auto: 'format,compress',
                                                },
                                                aspect_ratio: [boxedLinkImage.width, boxedLinkImage.height],
                                                transforms: [{
                                                    w: 32  
                                                }, {
                                                    w: 32 * 2
                                                }, {
                                                    w: 32 * 3
                                                }],
                                                sizes: '32px',
                                                class: 'boxed-link__image',
                                                loading: 'eager',
                                            }) }}
                                        {% endif %}

                                        {{ child.title }}
                                    </a>

                                    {% if child.children %}
                                        <ul class="nav-subdrop">
                                            {% for subchild in child.children %}
                                                <li class="nav-subdrop-item">
                                                    <a 
                                                        class="{{subchild.class}} link-highlight"
                                                        data-highlight="{{ item.highlight_colour }}"
                                                        href="{{ subchild.link }}"
                                                        >
                                                        {{ subchild.title }}
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    {% elseif item.submenu_style == 'simple' %}
                        <ul class="nav-drop-simple">
                            {% for child in item.children %}
                                <li class="nav-subdrop-item">
                                    <a
                                        href="{{ child.link }}"
                                        class="{{ child.class }} link-highlight"
                                        data-highlight="{{ item.highlight_colour }}"
                                    >
                                        {{ child.title }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% elseif item.submenu_style == 'single_list' %}
                        <ul class="nav-drop">
                            {% for child in item.children %}
                                <li class="nav-drop-item">
                                    <a 
                                        href="{{ child.link }}"
                                        class="
                                            {{child.class}}
                                            {{ child.boxed_link ? 'boxed-link' : 'nav-title-item link-highlight' }}
                                            {% if child.boxed_link %}
                                                boxed-link
                                            {% else %}
                                                nav-title-item link-highlight
                                            {% endif %}
                                        "
                                        {% if child.link != '#' %}
                                            data-highlight="{{ item.highlight_colour }}"
                                        {% endif %}
                                    >

                                        {% set boxedLinkImage = child.meta('boxed_link_image') %}

                                        {% if boxedLinkImage %}
                                            {{ imgix({
                                                src: boxedLinkImage.url,
                                                alt: boxedLinkImage.alt,
                                                params: {
                                                    auto: 'format,compress',
                                                },
                                                aspect_ratio: [boxedLinkImage.width, boxedLinkImage.height],
                                                transforms: [{
                                                    w: 32  
                                                }, {
                                                    w: 32 * 2
                                                }, {
                                                    w: 32 * 3
                                                }],
                                                sizes: '32px',
                                                class: 'boxed-link__image',
                                                loading: 'eager',
                                            }) }}
                                        {% endif %}

                                        {{ child.title }}
                                    </a>


                                    {% if child.children %}
                                        <ul class="nav-subdrop-single-list">
                                            {% for subchild in child.children %}
                                                <li class="nav-subdrop-item">
                                                    <a
                                                        class="{{ subchild.class }} link-highlight"
                                                        data-highlight="{{ item.highlight_colour }}"
                                                        href="{{ subchild.link }}"
                                                    >
                                                        {{ subchild.title }}
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}

                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</nav>