<div class="resource-card{% if resource.colour %} resource-card--{{ resource.colour }}{% endif %}">
    <span class="resource-card__tag">{{ resource.type.name }}</span>

    <div class="resource-card__details">
        {% if resource.organisation %}
            <p class="resource-card__creator"><span>By: </span>{{ resource.organisation }}</p>
        {% endif %}

        {% if resource.published %}
            <p class="resource-card__published"><span>Published: </span>{{ resource.published }}</p>
        {% endif %}
    </div>

    {% if resource.link %}
        <a
            href="{{ resource.link }}"
            class="button"
        >
            <span class="button__label">{{ resource.i18n.view_label }}</span>
        </a>
    {% endif %}

    {% for attachment in resource.attachments %}
        <a
            href="{{ attachment.file }}"
            class="button"
        >
            <span class="button__label">{{ attachment.name }}</span>
        </a>
    {% endfor %}

    {% include 'partials/share.twig' with {
        share_links: resource.share_links,
        tracker: 'Resource Single'
    } %}
</div>
