{% if resource.link or resource.attachments | length %}
    <a
        href="{{ resource.link ? resource.link : resource.attachments[0].file }}"
        class="
            resource-preview
            {% if resource.colour %} resource-preview--{{ resource.colour }}{% endif %}
            {% if resource.type.slug == "data-tool" %} resource-preview--data{% endif %}
            {% if resource.image_url %} resource-preview--thumb{% endif %}
        "
    >
        <div class="resource-preview__content">
            <h4 class="resource-preview__title">{{ resource.title }}</h4>

            {% if resource.organisation %}
                <p class="resource-preview__intro">By {{ resource.organisation }}</p>
            {% endif %}
        </div>

        {% if resource.image_url %}
            <div class="resource-preview__thumb">
                {{ imgix({
                    src: resource.image_url,
                    params: {
                        auto: 'format',
                        fit: 'crop'
                    },
                    aspect_ratio: [210, 297],
                    transforms: [{
                        w: 415
                    }, {
                        w: 830
                    }, {
                        w: 1024
                    }, {
                        w: 1536
                    }, {
                        w: 2048
                    }],
                    sizes: '100vw'
                }) }}
            </div>
        {% endif %}
    </a>
{% endif %}
