<footer class="site-footer">

	<div class="site-footer__container">

		<div class="site-footer__logo">
			<svg><use xlink:href="#logo-vertical"></use></svg>
		</div>

		<ul class="site-footer__navigation">

			{% for item in footer.menu.items %}

				<li class="nav-main-item {{ item.classes|join(' ') }}">

					<a class="nav-main-link" href="{{ item.link }}">{{ item.title }}</a>

					{% if item.children %}

						<ul class="nav-drop">

							{% for child in item.children %}

								<li class="nav-drop-item">
									<a href="{{ child.link }}">{{ child.title }}</a>
								</li>

							{% endfor %}

						</ul>

					{% endif %}

				</li>

			{% endfor %}

		</ul>

		<div class="site-footer__cta">

			<a class="arrow-link" href="#">
				<svg class="arrow-link__icon"><use xlink:href="#icon-arrow-circle"></use></svg>
				<span class="arrow-link__label">Get Our Newsletter</span>
			</a>

		</div>

		<div class="site-footer__contact">
			<h3 class="site-footer__contact-heading / uppercase">Contact</h3>
			<p><a href="mailto:engage@open-contracting.org">engage@open-contracting.org</a></p>
			<p>Open Contracting Partnership,<br />641 S Street NW, 20001 Washington, D.C., USA</p>
		</div>

		<div class="site-footer__social">

			<h4 class="site-footer__social-header">Connect with us:</h4>

			{% if social_links.twitter %}

				<a href="{{ social_links.twitter }}">
					<svg data-platform="twitter"><use xlink:href="#social-twitter"></use></svg>
				</a>

			{% endif %}

			{% if social_links.facebook %}

				<a href="{{ social_links.facebook }}">
					<svg data-platform="facebook"><use xlink:href="#social-facebook"></use></svg>
				</a>

			{% endif %}

			{% if social_links.linkedin %}

				<a href="{{ social_links.linkedin }}">
					<svg data-platform="linkedin"><use xlink:href="#social-linkedin"></use></svg>
				</a>

			{% endif %}

		</div>

		<div class="site-footer__license">
			<p>This work by the Open Contracting Partnership, unless otherwise noted, is licensed under a Creative Commons Attribution 4.0 International License.</p>
		</div>

		<div class="site-footer__copyright">
			<span>Open Contracting Partnership 2019</span>
			<a href="#">Terms</a>
		</div>

	</div>

</footer>
