<header class="site-header">
    <div class="site-header__container">
        <div class="site-header__logo">
            <a class="site-header__logo-link" href="{{ site.url }}" aria-label="Logo">
                <svg><use xlink:href="#logo-horizontal"></use></svg>
            </a>
        </div>

        {% include 'views/partials/main-nav.twig' %}

        {% include "partials/header-mobile-nav.twig" %}

        <div class="site-header__toolbox">
            {% for item in header.secondary_menu.items %}
                <a href="{{ item.url }}">{{ item.title }}</a>
            {% endfor %}

            {% include "partials/translation-menu.twig" %}

            <form role="search" method="get" class="search-box" data-colour="light" action="{{ site.home_url }}">
                <input class="search-box__input" type="text" name="s" value="{{ search_term }}" aria-label="Search" placeholder="Search">

                <button class="search-box__icon" aria-label="Search">
                    <svg><use xlink:href="#icon-search-rounded"></use></svg>
                </button>

                <input type="hidden" name="lang" value="en">
            </form>
        </div>

        <div class="site-header__hamburger">
            <svg data-icon="menu">
                <use xlink:href="#icon-menu" />
            </svg>

            <svg data-icon="close">
                <use xlink:href="#icon-close" />
            </svg>
        </div>
    </div>
</header>

<div class="print-only / site-header__print-logo">
    <svg><use xlink:href="#logo-horizontal"></use></svg>
</div>
