{% extends "base.twig" %}

{% block content %}

	<main id="resource-archive" class="page-container / resource-archive">

		{% include 'blocks/simple-header.twig' %}

		<div class="resource-archive__controls">

			<div>

				<div class="filter-menu">

					<div class="resource-archive__search /  search-input" data-size="large">
						<input class="search-input__input / uppercase" v-model="search" type="text" aria-label="Search" placeholder="Search">

						<button class="search-input__button / button--naked">
							<svg><use xlink:href="#icon-search-rounded"></use></svg>
						</button>
					</div>

					{% for filter in resource_library_filters %}
						<div class="filter-header">
							<p class="filter-text">{{ filter.title }}</p>
						</div>

						<div class="filters-container">
							{% for field in filter.filter %}
								<div class="filter-container">
									<label class="filter-item">
										<input
											type="checkbox"
											name="regions"
											class="filter-item__input"
											value="{{ field.slug }}"
											v-model="filters"
											data-colour="{{ field.colour }}"
										>

										<span class="filter-item__control" data-colour="{{ field.colour }}" >{{ field.label }}</span>
									</label>
								</div>
							{% endfor %}
						</div>
					{% endfor %}

					<a href="#" class="reset-link" @click.prevent="resetFilters">Reset all filters</a>
				</div>


				<div class="resource-archive__filters" v-if="tab === 'learning-library'">

					{% for filter in learning_library_filters %}

						<div class="resource-archive__filter">

							<h3 class="resource-archive__filter-heading">{{ filter.title }}</h3>

							{% for field in filter.filter %}

								<label class="resource-archive__filter-field">

									<input
										type="radio"
										name="{{ field.taxonomy }}"
										data-taxonomy="{{ field.taxonomy }}"
										value="{{ field.slug }}"
										:checked="isChecked('{{ field.taxonomy }}', '{{ field.slug }}')"
										class="input-circle"
										data-colour="{{ field.colour }}"
										@click="toggleFilter"
									>
									{{ field.label }}

								</label>

							{% endfor %}

						</div>

					{% endfor %}

				</div>

			</div>

			{# {% include 'partials/resource-card.twig'  %} #}

			<div class="resource-archive__results">

				<template v-if="visibleResources.length">
					<div class="card__container"
						v-for="resource in visibleResources"
						v-bind:key="resource.id"
						v-html="resource.card"
					></div>
					{# <resource v-for="(resource, index) in visibleResources" :key="index" :card="resource"></resource> #}
				</template>

				<p v-else class="resource-archive__no-results">{{ resources.i18n.no_results_label }}</p>

			</div>

		</div>


	</main>

{% endblock %}
