{% extends "base.twig" %}

{% block content %}

	<main id="resource-archive" class="page-container / resource-archive">

		<header class="resource-archive__header">

			{% if back_link %}

				<a class="arrow-link" href="{{ back_link.url }}" data-size="small" data-direction="west" data-icon-color="grey" data-text-color="black">
					<svg class="arrow-link__icon"><use xlink:href="#icon-arrow-circle"></use></svg>
					<span class="arrow-link__label / uppercase">{{ back_link.label }}</span>
				</a>

			{% endif %}

			<h1 class="resource-archive__heading">{{ title }}</h1>

			<div class="resource-archive__intro">
				<p>{{ resources.i18n.introduction }}</p>
			</div>

		</header>

		<div class="resource-archive__switcher">
			<button class="button--naked" data-tab="resource-library" @click="switchTab" :data-active="tab === 'resource-library'">Resource Library</button>
			<button class="button--naked" data-tab="learning-library" @click="switchTab" :data-active="tab === 'learning-library'">Learning Library</button>
		</div>

		<div class="resource-archive__search /  search-input" data-size="large">

			<input class="search-input__input / uppercase" v-model="search" type="text" aria-label="Search" placeholder="Search">

			<button class="search-input__button / button--naked">
				<svg><use xlink:href="#icon-search-rounded"></use></svg>
			</button>

		</div>

		<div class="resource-archive__filters" v-if="tab === 'resource-library'">

			{% for filter in resource_library_filters %}

				<div class="resource-archive__filter">

					<h3 class="resource-archive__filter-heading">{{ filter.title }}</h3>

					{% for field in filter.filter %}

						<label class="resource-archive__filter-field">

							<input
								type="radio"
								name="{{ field.taxonomy }}"
								data-taxonomy="{{ field.taxonomy }}"
								value="{{ field.slug }}"
								:checked="isChecked('{{ field.taxonomy }}', '{{ field.slug }}')"
								class="input-circle"
								data-colour="{{ field.colour }}"
								@click="toggleFilter"
							>

							{{ field.label }}

						</label>

					{% endfor %}

				</div>

			{% endfor %}

		</div>

		<div class="resource-archive__filters" v-if="tab === 'learning-library'">

			{% for filter in learning_library_filters %}

				<div class="resource-archive__filter">

					<h3 class="resource-archive__filter-heading">{{ filter.title }}</h3>

					{% for field in filter.filter %}

						<label class="resource-archive__filter-field">

							<input
								type="radio"
								name="{{ field.taxonomy }}"
								data-taxonomy="{{ field.taxonomy }}"
								value="{{ field.slug }}"
								:checked="isChecked('{{ field.taxonomy }}', '{{ field.slug }}')"
								class="input-circle"
								data-colour="{{ field.colour }}"
								@click="toggleFilter"
							>
							{{ field.label }}

						</label>

					{% endfor %}

				</div>

			{% endfor %}

		</div>

		<div class="resource-archive__results">

			<template v-if="visibleResources.length">
				<resource v-for="(resource, index) in visibleResources" :key="index" :card="resource"></resource>
			</template>

			<p v-else class="resource-archive__no-results">{{ resources.i18n.no_results_label }}</p>

		</div>

	</main>

{% endblock %}
