{% extends "base.twig" %}

{% block content %}

	<main class="home" id="blog-posts">

		<div class="home__container">

			<div class="home__header">

				<div class="home__header-featured">

					{% if latest.featured_blog %}

						{% include 'cards/feature.twig' with {
							card: latest.featured_blog.card,
							options: {
								badge: {
									label: latest.content.featured_label
								}
							}
						} %}

					{% endif %}

				</div>

				<div class="home__header-extra">

					{% if latest.header_latest_news %}

						<h2 class="home__header-extra-heading">{{ latest.content.news_label }}</h2>

						{% for post in latest.header_latest_news %}

							<div class="card card--text">

								<a class="card__title-link" href="{{ post.link() }}">
									<h3 class="card__title">{{ post.post_title}}</h3>
								</a>

								<p class="card__meta">{{ post.date('j M Y') }}</p>

							</div>

						{% endfor %}

						<div class="align-contents-right">

							<a class="arrow-link" data-icon-color="grey" data-text-color="black" data-size="medium" href="{{ latest.news_archive_link.url }}">
								<svg class="arrow-link__icon"><use xlink:href="#icon-arrow-circle"></use></svg>
								<span class="arrow-link__label / uppercase">{{ latest.news_archive_link.label }}</span>
							</a>

						</div>

					{% endif %}

					{% if latest.header_latest_events %}

						<h2 class="home__header-extra-heading">{{ latest.content.events_label }}</h2>

						{% for post in latest.header_latest_events %}

							<div class="card card--text">

								<a class="card__title-link" href="{{ post.link() }}">
									<h3 class="card__title">{{ post.post_title}}</h3>
								</a>

								<p class="card__meta">{{ post.event_date|date('j M Y') }}</p>

							</div>

						{% endfor %}

						<div class="align-contents-right">

							<a class="arrow-link" data-icon-color="grey" data-text-color="black" data-size="medium" href="{{ latest.events_archive_link.url }}">
								<svg class="arrow-link__icon"><use xlink:href="#icon-arrow-circle"></use></svg>
								<span class="arrow-link__label / uppercase">{{ latest.events_archive_link.label }}</span>
							</a>

						</div>

					{% endif %}

				</div>

			</div>

			<div class="home__title">

				<h1 class="home__heading / gamma">{{ latest.content.title }}</h1>

				<div class="select-menu" data-colour-scheme="green">

					<label class="visually-hidden">{{ latest.content.filter_label }}</label>

					<select class="uppercase align-center" v-model="filter">

						<option value="">{{ latest.content.filter_label }}</option>

						{% for issue in issue_terms %}
							<option value={{ issue.term_id }}>{{ issue.name }}</option>
						{% endfor %}

					</select>

					<div class="select-menu__arrow"></div>

				</div>

			</div>

			<section class="home__posts">
				<primary-card v-for="post in pagedPosts" v-bind:key="post.id" :card="post" data-colour-scheme="light" />
			</section>

			<div class="home__load-more / align-contents-center">

				<button class="button button--has-icon" v-on:click.prevent="increaseLimit()" v-if="hasNextPage">
					<svg class="button__icon"><use xlink:href="#icon-arrow-circle"></use></svg>
					{{ latest.content.load_more }}
				</button>

			</div>

			{% if latest.footer_latest_news %}

				<div class="home__section">

				<div class="home__section-header">

					<h2 class="gamma">{{ latest.content.news_label }}</h2>

					<a class="arrow-link" data-text-color="black" data-size="medium" href="{{ latest.news_archive_link.url }}">
						<svg class="arrow-link__icon"><use xlink:href="#icon-arrow-circle"></use></svg>
						<span class="arrow-link__label / uppercase">{{ latest.news_archive_link.label }}</span>
					</a>

				</div>

				<div class="home__section-post">

					{% for post in latest.footer_latest_news %}

						<div class="card card--text">

							<a class="card__title-link" href="{{ post.link() }}">
								<h3 class="card__title">{{ post.post_title}}</h3>
							</a>

							<p class="card__meta">{{ post.date('j M Y') }}</p>

						</div>

					{% endfor %}

				</div>

			</div>

			{% endif %}

			{% if latest.footer_latest_events %}

				<div class="home__section">

				<div class="home__section-header">

					<h2 class="gamma">{{ latest.content.events_label }}</h2>

					<a class="arrow-link" data-text-color="black" data-size="medium" href="{{ latest.events_archive_link.url }}">
						<svg class="arrow-link__icon"><use xlink:href="#icon-arrow-circle"></use></svg>
						<span class="arrow-link__label / uppercase">{{ latest.events_archive_link.label }}</span>
					</a>

				</div>

				<div class="home__section-post">

					{% for post in latest.footer_latest_events %}

						<div class="card card--text">

							<a class="card__title-link" href="{{ post.link() }}">
								<h3 class="card__title">{{ post.post_title}}</h3>
							</a>

							<p class="card__meta">{{ post.event_date|date('j M Y') }}</p>

						</div>

					{% endfor %}

				</div>

			</div>

			{% endif %}

		</div> <!-- / .home__container -->

	</main>

	<div class="page-container">
		{{ latest.blog_content | raw }}
	</div>

{% endblock %}
