{% extends "base.twig" %}

{% block content %}
    <div id="impact-stories" class="impact-stories">
        <div class="impact-stories__container">
            <div class="impact-stories__header">
                <h1>{{ title }}</h1>

                {{ content | raw }}
            </div>

            <div class="impact-stories__filters">
                {% if impact_stories.terms.issues %}
                    <div>
                        <h3 class="impact-stories__filter-heading">{{ impact_stories.i18n.issues_label }}</h3>

                        <div class="select-dropdown">
                            <select
                                class="impact-stories__filter-select / select-dropdown__input"
                                @change="addFilter($event, 'issue', $event.target.value)"
                            >
                                <option value="">Select issues</option>

                                {% for id, name in impact_stories.terms.issues %}
                                    <option
                                        value="{{ id }}"
                                        v-show="! isFilterSet('issue', {{ id }})"
                                    >{{ name }}</option>
                                {% endfor %}
                            </select>

                            <div class="select-dropdown__icon">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill="#inherit" d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0ZM4.5 5.4h1.6l1.8 3 1.8-3h1.8l-3.6 5.9-3.4-6Z"/></svg>
                            </div>
                        </div>

                        <div v-if="filters.issue.length" class="impact-stories__filter-tags">
                            {% for id, name in impact_stories.terms.issues %}
                                <button
                                    v-if="isFilterSet('issue', {{ id }})"
                                    class="button--naked / impact-stories__filter-tag"
                                    @click="removeFilter('issue', {{ id }})"
                                >
                                    {{ name }} x
                                </button>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

                {% if impact_stories.terms.countries %}
                    <div>
                        <h3 class="impact-stories__filter-heading">{{ impact_stories.i18n.countries_label }}</h3>

                        <div class="select-dropdown">
                            <select
                                class="impact-stories__filter-select / select-dropdown__input"
                                @change="addFilter($event, 'country', $event.target.value)"
                            >
                                <option value="">Select countries</option>

                                {% for id, name in impact_stories.terms.countries %}
                                    <option
                                        value="{{ id }}"
                                        v-show="! isFilterSet('country', {{ id }})"
                                    >{{ name }}</option>
                                {% endfor %}
                            </select>

                            <div class="select-dropdown__icon">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill="#inherit" d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0ZM4.5 5.4h1.6l1.8 3 1.8-3h1.8l-3.6 5.9-3.4-6Z"/></svg>
                            </div>
                        </div>

                        <div v-if="filters.country.length" class="impact-stories__filter-tags">
                            {% for id, name in impact_stories.terms.countries %}
                                <button
                                    v-if="isFilterSet('country', {{ id }})"
                                    class="button--naked / impact-stories__filter-tag"
                                    @click="removeFilter('country', {{ id }})"
                                >
                                    {{ name }} x
                                </button>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

                {% if impact_stories.terms.story_types %}
                    <div class="impact-stories__filter-story-types">
                        <h3 class="impact-stories__filter-heading">{{ impact_stories.i18n.story_types_label }}</h3>

                        <div class="impact-stories__filter-checkboxes">
                            {% for id, name in impact_stories.terms.story_types %}
                                <label>
                                    <input type="checkbox" v-model="filters.type" value="{{ id }}">
                                    {{ name }}
                                </label>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>

            <div v-show="results_count > 0" class="impact-stories__posts">
                {% for card in latest_stories.stories %}
                    {% include 'cards/primary.twig' with card %}
                {% endfor %}
            </div>

            <div v-if="results_count === 0" class="impact-stories__no-results">
                <p>{{ impact_stories.i18n.no_results_label }}</p>
            </div>
        </div>
    </div>
{% endblock %}
