{% extends "base.twig" %}

{% block content %}
	<main class="search">
		<div class="search__container">
			<h1>{{ title }}</h1>

            <p>
                {% if search.order_by != 'relevance' %}
                    <a href="{{ search.sort_links.relevance }}">Sort by relevance</a>
                {% endif %}

                {% if search.order_by != 'post_date' %}
                    <a href="{{ search.sort_links.recent }}">Sort by most recent</a>
                {% endif %}
            </p>

            {% if search.results %}
                {% for card in search.results %}
                    {% include 'cards/basic.twig' with {
                        'card': card,
                        'options': {
                            'colour_scheme': 'light'
                        }
                    } %}
                {% endfor %}

				{% if search.pagination.next %}
					<a class="button button--has-icon" href="{{ search.pagination.next.link }}">
						<svg class="button__icon"><use xlink:href="#icon-arrow-circle"></use></svg>
						{{ search.i18n.next_page_label }}
					</a>
				{% endif %}
			{% else %}
				<p>{{ search.i18n.no_results_label }}</p>
			{% endif %}
		</div>
	</main>
{% endblock %}
