{% extends "base.twig" %}

{% block content %}

	<main class="search">

		<div class="search__container">

			<h1>{{ title }}</h1>

			{% if search.hasResults %}

				{% for result in search.getResults %}

					<div class="card card--text">

						<a href="{{ result.link }}" class="card__title-link">
							<h3 class="card__title">{{ result.htmlTitle }}</h3>
						</a>

						<p class="">{{ result.htmlFormattedUrl }}</p>

						{# <p>{{ result.htmlFormattedUrl }}</p> #}
						<p>{{ result.htmlSnippet }}</p>


					</div>

				{% endfor %}

				{% if search.hasNextPage %}

					<a class="button button--has-icon" href="/?s={{ function('get_search_query') }}&page={{ page + 1 }}">
						<svg class="button__icon"><use xlink:href="#icon-arrow-circle"></use></svg>
						Next Page
					</a>

				{% endif %}

			{% else %}
				<p>No results found.</p>
			{% endif %}

		</div>

	</main>

{% endblock %}
