{% extends "base.twig" %}

{% block content %}
    <main class="home" id="blog-posts">
        <div class="home__container">
            {% include 'blocks/simple-header.twig' with {
                block: {
                    heading: latest.content.heading,
                    content: latest.content.content,
                }
            } %}

            <div class="filter-menu">
                <div class="filter-header">
                    <p class="filter-text">{{ __('Filter by multiple issues', 'ocp') }}:</p>
                    <button class="filter__reset-link" @click="reset">{{ __('Reset all filters', 'ocp') }}</button>
                </div>

                <div class="filters-container">
                    {% for issue in latest.issues %}

                        <label class="filter-item">
                            <input
                                type="checkbox"
                                name="regions"
                                class="filter-item__input"
                                value="{{ issue.slug }}"
                                v-model="filters"
                            >

                            <span class="filter-item__control" data-colour="green">{{ issue.name }}</span>
                        </label>
                    {% endfor %}
                </div>
            </div>

            <section id="results" class="home__posts">
                <primary-card
                    v-for="post in pagedPosts"
                    :key="post.id"
                    :post="post"
                ></primary-card>
            </section>

            <div class="screen-only / home__load-more / align-contents-center">
                <button class="button button--has-icon" @click.prevent="increaseLimit()" v-if="hasNextPage">
                    <svg class="button__icon"><use xlink:href="#icon-arrow-circle"></use></svg>
                    {{ latest.content.load_more }}
                </button>
            </div>
        </div> <!-- / .home__container -->
    </main>

    <div class="page-container">
        {{ latest.blog_content | raw }}
    </div>
{% endblock %}
