<div class="card card--carousel">

	<div class="card__image">

		{{ imgix({
			src: card.image_url,
			params: {
				auto: 'format',
				fit: 'crop'
			},
			aspect_ratio: [16, 9],
			transforms: [{
				w: 415
			}, {
				w: 830
			}, {
				w: 1024
			}, {
				w: 1536
			}, {
				w: 2048
			}],
			sizes: '100vw'
		}) }}

		<div class="card__image-overlay">

			<a class="card__title-link" href="{{ card.url }}">
				<h2 class="card__title">{{ card.title }}</h2>
			</a>

			<div class="card__intro-outer">

				<div class="card__intro">
					<p>{{ card.introduction }}</p>
				</div>

			</div>

		</div>

	</div>

</div>
{#

<div class="card card--feature">

	<div class="card__image">

		{{ imgix({
			src: card.image_url,
			params: {
				auto: 'format',
				fit: 'crop'
			},
			aspect_ratio: [4, 3],
			transforms: [{
				w: 415
			}, {
				w: 830
			}, {
				w: 1024
			}, {
				w: 1536
			}, {
				w: 2048
			}],
			sizes: '100vw'
		}) }}

		<div class="card__image-overlay">

			<a class="card__title-link" href="{{ card.url }}">
				<h2 class="card__title">{{ card.title }}</h2>
			</a>

			<div class="card__intro">
				{{ card.intro | raw }}
			</div>

		</div>

	</div>

</div> #}
