{% set options = { 'size': null, 'image_loading': 'lazy' } | merge(options|default([])) %}

<div class="card card--carousel" data-size="{{ options.size }}">

	<div class="card__image">

		{{ imgix({
			src: card.image_url,
			params: {
				auto: 'format',
				fit: 'crop'
			},
			aspect_ratio: [2, 1],
			transforms: [{
				w: 415
			}, {
				w: 830
			}, {
				w: 1024
			}, {
				w: 1200
			}, {
				w: 1340
			}, {
				w: 2048
			}],
			sizes: '(min-width: 1340px) 1340px, 100vw',
			loading: options.image_loading
		}) }}

		<div class="card__image-overlay">

			<a class="card__title-link" href="{{ card.url }}">
				<h2 class="card__title">{{ card.title }}</h2>
			</a>

			{% if card.introduction %}

				<div class="card__intro-outer">

					<div class="card__intro">
						<p>{{ card.introduction }}</p>
					</div>

				</div>

			{% endif %}

		</div>

	</div>

</div>
{#

<div class="card card--feature">

	<div class="card__image">

		{{ imgix({
			src: card.image_url,
			params: {
				auto: 'format',
				fit: 'crop'
			},
			aspect_ratio: [4, 3],
			transforms: [{
				w: 415
			}, {
				w: 830
			}, {
				w: 1024
			}, {
				w: 1536
			}, {
				w: 2048
			}],
			sizes: '100vw'
		}) }}

		<div class="card__image-overlay">

			<a class="card__title-link" href="{{ card.url }}">
				<h2 class="card__title">{{ card.title }}</h2>
			</a>

			<div class="card__intro">
				{{ card.intro | raw }}
			</div>

		</div>

	</div>

</div> #}
