{% if not options %}
    {% set options = [] %}
{% endif %}

{% set options = { 'colour_scheme': null } | merge(options) %}

<div
    class="card card--half-image"
    style="
        --background-colour: {{ card.background_colour }};
        --hover-colour: {{ card.hover_colour }};
        --text-colour: {{ card.text_colour }};
    "
>
    <div class="card__body">
        <h3 class="card__heading">
            <a class="card__link" href="{{ card.link }}">{{ card.title }}</a>
        </h3>

        {% if card.strapline %}
            <p class="card__strapline">{{ card.strapline }}</p>
        {% endif %}
    </div>

    <div class="card__image">
        {{ imgix({
            src: card.image.url,
            params: {
                auto: 'format'
            },
            transforms: [{
                w: 128
            }, {
                w: 256
            }, {
                w: 512
            }],
            sizes: '36vw, (min-width: 1025px) 17vw, (min-width: 1350px) 234px',
        }) }}
    </div>
</div>
