{% if card.post_type == 'resource' %}
	{% set fallback_image = '/wp-content/themes/ocp-v1/resources/img/fallback-resource.jpg' %}
{% else %}
	{% set fallback_image = '/wp-content/themes/ocp-v1/resources/img/fallback-v2.jpg' %}
{% endif %}

<div class="card card--primary"
	data-has-featured="{{ block.has_featured }}"
	data-terms='[
		{% for issue in card.issues %}
			"{{ issue.name }}"
		{% endfor %}
	]'>

	<div class="card__image">

		{% if card.image_url %}

			{{ imgix({
				src: card.image_url,
				params: {
					auto: 'format',
					fit: 'crop'
				},
				aspect_ratio: [16, 9],
				transforms: [{
					w: 415
				}, {
					w: 830
				}, {
					w: 1024
				}, {
					w: 1536
				}, {
					w: 2048
				}],
				sizes: '(min-width: 1340px) 385px, (min-width: 768px) 32vw, 80vw'
			}) }}

		{% else %}

			{{ imgix({
				src: fallback_image,
				params: {
					auto: 'format',
					fit: 'crop'
				},
				aspect_ratio: [16, 9],
				transforms: [{
					w: 415
				}, {
					w: 830
				}, {
					w: 1024
				}, {
					w: 1536
				}, {
					w: 2048
				}],
				sizes: '100vw'
			}) }}

		{% endif %}

	</div>

	<div class="card__main">
		{% if card.type_label %}
			<div class="card__tag">{{ card.type_label }}</div>
		{% endif %}

		{% if block.has_featured %}
			<div class="card__tag-featured">Featured</div>
		{% endif %}

		<a class="card__title-link" href="{{ card.url }}">
			<h2 class="card__title">{{ card.title }}</h2>
		</a>

        <p class="card__introduction">{{ card.introduction }}</p>

		{% if card.tags | length > 0 %}
			<p class="card__topics">Topics:
				{% for tag in card.tags %}
					<a href="{{ tag.link }}">{{ tag.name }}{% if not loop.last %}, {% endif %}</a>
				{% endfor %}
			</p>
		{% endif %}

		<div class="card__footer">

			{% if card.meta %}
				<div class="card__meta">{{ card.meta }}</div>
			{% endif %}

		</div>

	</div>

</div>
