{% if not options %}
	{% set options = [] %}
{% endif %}

{% set options = {} | merge(options) %}

<div
    class="card-resource"
    data-post-type="{{ card.type }}"
    data-has-border="{{ card.is_featured ? 'true' : 'false' }}"
>
    <div class="card-resource__image-container">
        {% if 'imgix.net' in card.image_url %}
            <img src="{{ card.image_url }}" alt="{{ card.title }}" loading="lazy">
        {% else %}
            {{ imgix({
                src: card.image_url,
                params: {
                    auto: 'format',
                    fit: 'crop',
                    w: 400,
                    ar: 210 / 297,
                }
            }) }}
        {% endif %}
    </div>

    <div class="card-resource__body">
        <div class="card-resource__type">
            {{ card.type_label }}
        </div>

        <a class="card-resource__link" href="{{ card.url }}">{{ card.title }}</a>

        {% if card.excerpt %}
            <p class="card-resource__excerpt">{{ card.excerpt }}</p>
        {% endif %}
    </div>
</div>
