{% set options = { 'id': null } | merge(block.options) %}

<div
	id="{{ options.id }}"
	class="block"
	data-block-type="card-with-icon"
	data-grid-placement="{{ options.grid_placement }}"
	style="color: {{ block.text_colour }}; background-color: {{ block.background_colour }};"
>

	<div class="block__main">

		<h3 class="block__heading">{{ block.heading }}</h3>

		{% if block.strapline %}
			<p>{{ block.strapline }}</p>
		{% endif %}

	</div>

	{% if block.link %}

		<div class="block__footer [tw: mt-10 ]">

			<a href="{{ block.link.url }}" target="{{ block.link.target }}" class="block__link [tw: flex items-center no-underline text-sm ]">
				<span class="uppercase font-bold">{{ block.link.title }}</span>
				<svg class="ml-2 fill-current w-5 h-5 block"><use xlink:href="#icon-arrow-circle"></use></svg>
			</a>

		</div>

	{% endif %}

	<svg class="block__icon"><use xlink:href="#card-icon-{{ block.icon }}"></use></svg>

</div>
