<div class="block" data-block-type="content-with-sidebar" style="color: {{ block.text_colour }}">

	<div class="block__background" style="background-color: {{ block.background_colour }}"></div>

	<div class="block__content">

		<h2 class="block__heading">{{ block.title }}</h2>

		{{ block.content | raw }}

	</div>

	<div class="block__sidebar">

		{% for item in block.sidebar_content %}

			{% if item.acf_fc_layout == 'link_box' %}

				<div class="card card--link" data-colour-scheme="light">

					<div class="card__body">
						<a class="card__link" href="{{ item.link.link }}">{{ item.title }}</a>
					</div>

					<div class="card__footer">

						<a class="arrow-link" href="{{ item.link.link }}" data-text-color="black">
							<svg class="arrow-link__icon"><use xlink:href="#icon-arrow-circle"></use></svg>
							<span class="arrow-link__label">{{ item.link.title }}</span>
						</a>

					</div>

				</div>

			{% endif %}

			{% if item.acf_fc_layout == 'image' %}

				<div class="block__sidebar-image">

					{{ imgix({
						src: item.image.url,
						params: {
							auto: 'format'
						},
						transforms: [{
							w: 415
						}, {
							w: 830
						}, {
							w: 1024
						}, {
							w: 1536
						}, {
							w: 2048
						}],
						sizes: '100vw'
					}) }}

				</div>

			{% endif %}

		{% endfor %}

	</div>

</div>
