{% set options = { 'id': null } | merge(block.options) %}

<div id="{{ options.id }}" class="block" data-block-type="content" style="color: {{ block.text_colour }}" data-width="{{ block.width }}" data-alignment="{{ block.alignment }}"  data-size="{{ block.size }}">

	<div class="block__background" style="background-color: {{ block.background_colour }}"></div>

	<div class="block__container">

		{% if block.title %}
			<h2 class="block__heading">{{ block.title }}</h2>
		{% endif %}

		{% for item in block.content %}

			{% if item.acf_fc_layout == 'content' %}

				<div class="block__content">
					{{ item.content | raw }}
				</div>

			{% endif %}

			{% if item.acf_fc_layout == 'content_with_icon' %}

				<div class="sub-content" data-type="content-with-icon">

					<div class="sub-content__icon">
						<svg><use xlink:href="#content-icon-{{ item.icon }}"></use></svg>
					</div>

					<div class="sub-content__content">
						{{ item.content | raw }}
					</div>

				</div>

			{% endif %}

			{% if item.acf_fc_layout == 'arrow_links' %}

				<div class="block__arrow-links">

					{% for link in item.links %}

						<a class="arrow-link" href="{{ link.link.url }}" data-text-color="{{ block.is_dark ? 'white' : 'black' }}">
							<svg class="arrow-link__icon"><use xlink:href="#icon-arrow-circle"></use></svg>
							<span class="arrow-link__label">{{ link.link.title }}</span>
						</a>

					{% endfor %}

				</div>

			{% endif %}

			{% if item.acf_fc_layout == 'arrow_buttons' %}

				<div class="block__arrow-buttons">

					{% for link in item.links %}

						<a class="button button--has-icon" href="{{ link.link.url }}" data-colour="white" data-icon-colour="green">
							<svg class="button__icon"><use xlink:href="#icon-arrow-circle"></use></svg>
							{{ link.link.title }}
						</a>

					{% endfor %}

				</div>

			{% endif %}

		{% endfor %}

	</div>

</div>
