<div
    class="block / content-with-icon"
    style="
        --background-colour: {{ block.background_colour }};
        --text-colour: {{ block.text_colour }};
        --accent-colour: {{ block.accent_colour }};
    "
>
    <div class="content-with-icon__content">
        <InnerBlocks
            template="{{ block.template }}"
            allowedBlocks="{{ block.allowed_blocks }}"
        />
    </div>

    <div class="content-with-icon__icon">
        {% if block.icon %}
            <img src="{{ block.icon.url }}" alt="" />
        {% else %}
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 645 629">
                <g clip-path="url(#a)">
                    <mask id="b" width="645" height="629" x="0" y="0" maskUnits="userSpaceOnUse" style="mask-type:luminance">
                        <path fill="#fff" d="M172.55 314.28c0-93.18 64.3-150.02 150.58-150.02 86.28 0 149.03 55.28 149.03 150.02 0 94.74-64.3 150.05-149.03 150.05-84.72 0-150.58-55.28-150.58-150.05ZM323.15 0C142.76 0 0 126.33 0 312.73c0 186.4 142.76 315.86 323.16 315.86 180.4 0 321.57-124.78 321.57-314.3h-.05C644.68 124.77 501.98 0 323.16 0Z"/>
                    </mask>

                    <g stroke="#0EB1A6" stroke-width="9.63" mask="url(#b)">
                        <path d="m-136.49 315.83 460.4-460.39M-111.77 340.55l460.4-460.4M-124.11 328.18l460.36-460.4M-87.05 365.27l460.4-460.4M-99.4 352.9l460.37-460.37M-62.33 389.99l460.39-460.4M-74.68 377.62 385.7-82.75M-37.62 414.7l460.4-460.39M-49.96 402.36l460.4-460.4M-12.87 439.42 447.5-20.98M-25.24 427.08l460.39-460.4M36.56 488.86 496.93 28.49M24.2 476.51l460.38-460.4M11.85 464.14 472.2 3.77M-.53 451.8 459.87-8.6M86 538.32l460.4-460.4M73.63 525.95l460.39-460.4M61.28 513.58 521.65 53.2M48.9 501.23l460.4-460.4M135.43 587.75l460.4-460.39M123.09 575.38l460.37-460.4M110.72 563.04l460.39-460.4M98.34 550.66l460.4-460.39M184.87 637.19l460.4-460.4M172.52 624.82 632.9 164.45M160.15 612.47l460.4-460.4M147.8 600.1l460.37-460.37M234.3 686.63l460.4-460.4M221.96 674.28l460.4-460.4M209.59 661.9l460.39-460.39M197.24 649.56l460.4-460.4M259.05 711.34l460.36-460.4M246.68 699l460.39-460.4M283.77 736.06l460.36-460.37M271.4 723.72l460.39-460.4M308.48 760.78l460.4-460.37M296.11 748.43l460.4-460.4M320.83 773.15l460.4-460.4"/>
                    </g>
                </g>

                <defs>
                    <clipPath id="a">
                        <path fill="#fff" d="M0 0h644.74v628.59H0z"/>
                    </clipPath>
                </defs>
            </svg>
        {% endif %}
    </div>
</div>
