{% set options = { 'id': null } | merge(block.options) %}

<div
	id="{{ options.id }}"
	class="block"
	data-block-type="cover"
	style="
		{% if block.text_colour %}
			--colour: {{ block.text_colour }}
		{% endif %}
	">

	<div class="block__image" style="background-image: url('{{ block.image.url }}');"></div>
	<div class="block__image-overlay" style="background-color: {{ block.background_color }};"></div>

	<div class="block__content">

		{% if block.is_legacy %}
			<h2 class="block__heading">{{ block.heading }}</h2>
		{% endif %}

		<InnerBlocks />

	</div>

</div>
