{% set options = { 'id': null } | merge(block.options) %}

<div
    id="{{ options.id }}"
    class="block / cover"
    style="
        {% if block.text_colour %}
            --colour: {{ block.text_colour }}
        {% endif %}
    "
>
    <div class="cover__image" style="background-image: url('{{ block.image.url }}');"></div>
    <div class="cover__image-overlay" style="background-color: {{ block.background_color }};"></div>

    <div class="cover__content">
        {% if block.is_legacy %}
            <h2 class="cover__heading">{{ block.heading }}</h2>
        {% endif %}

        <InnerBlocks />
    </div>
</div>
