<div
    class="block / hero-with-image"
    style="
        --background-colour: {{ block.background_colour }};
        --text-colour: {{ block.text_colour }};
        --header-top: {{ block.header_top }};
    "
    data-scroll-prompt-parent
>
    <div class="hero-with-image__header">
        <h1 class="hero-with-image__heading">{{ block.heading }}</h1>

        {% include 'components/scroll-prompt.twig' %}

        <p class="hero-with-image__content__strapline">{{ block.strapline }}</p>
        <p class="hero-with-image__content__text">{{ block.content }}</p>

        <div class="hero-with-image__cta">
            <a class="button button--has-icon" href="{{ block.cta.url }}" style="--custom-background: #ffffff; --custom-colour: #23b2a7;">
                <svg class="button__icon" style="fill: #23b2a7;"><use xlink:href="#icon-arrow-circle"></use></svg>
                {{ block.cta.title }}
            </a>
        </div>
    </div>

    <div class="hero-with-image__image">
        {{ imgix({
			src: block.background_image.url,
			params: {
				auto: 'format',
				fit: 'crop',
			},
            aspect_ratio: [
                block.background_image.width,
                block.background_image.height
            ],
			transforms: [{
				w: 300
			}, {
				w: 500
			}, {
				w: 600
			}, {
				w: 100
			}, {
				w: 1200
			}, {
				w: 1800
			}, {
				w: 2400
			}, {
				w: 2800
			}],
			sizes: '100vw',
			loading: 'eager'
		}) }}
    </div>
</div>
