{% set options = { 'id': null } | merge(block.options) %}

<div id="{{ options.id }}" class="block / more-stories" data-block-type="more-stories">
	<div class="more-stories__background" style="background-color: {{ block.background_colour }}"></div>

	<div class="more-stories__container" style="color: {{ block.text_colour }};">
		<div class="more-stories__header" data-alignment="{{ block.header_alignment }}">
			{% if block.title %}
				<h2 class="more-stories__heading alpha">{{ block.title }}</h2>
			{% endif %}

			{% if block.subheading %}
				<p class="more-stories__subheading">{{ block.subheading }}</p>
			{% endif %}
		</div>

		<div class="more-stories__cards">
			{% if block.card_type == 'default' %}
				{% for card in block.stories %}
					{% include 'cards/primary.twig' with {
						'card': card,
						'options': {
							'colour_scheme': block.card_options.colour_scheme
						}
					} %}
				{% endfor %}
			{% endif %}

			{% if block.card_type == 'resource' %}
				{% for card in block.stories %}
					{% include 'cards/resource.twig' with {
						'card': card,
						'options': {
							'colour_scheme': block.card_options.colour_scheme
						}
					} %}
				{% endfor %}
			{% endif %}
		</div>

		{% if block.call_to_action %}
			<a class="arrow-link" href="{{ block.call_to_action.url }}" style="color: inherit;">
				<svg class="arrow-link__icon" style="fill: currentColor;"><use xlink:href="#icon-arrow-circle"></use></svg>
				<span class="arrow-link__label">{{ block.call_to_action.title }}</span>
			</a>
		{% endif %}
	</div>
</div>
