<div class="block / our-reporting-grid">
    <div class="our-reporting-grid__header">
        <h2 class="our-reporting-grid__heading">{{ block.heading }}</h2>

        {% if block.strapline %}
            <p class="our-reporting-grid__strapline">{{ block.strapline }}</p>
        {% endif %}
    </div>

    <div class="our-reporting-grid__grid">
        {% for card in block.cards %}
            <a
                href="{{ card.link }}"
                class="our-reporting-card"
                style="
                    --background-colour: {{ card.background_colour }};
                    --text-colour: {{ card.text_colour }};
                    --accent-colour: {{ card.accent_colour }};
                    --column-start: {{ card.column_position.start }};
                    --column-span: {{ card.column_position.width }};
                    --row-start: {{ card.row_position.start }};
                    --row-span: {{ card.row_position.height }};
                "
                data-icon-position="{{ card.icon.position }}"
            >
                <div class="our-reporting-card__main">
                    <span class="our-reporting-card__heading">{{ card.heading }}</span>
                    <p class="our-reporting-card__strapline">{{ card.strapline }}</p>
                </div>

                {% if card.icon.icon is not empty %}
                    <img class="our-reporting-card__image" src="{{ card.icon.icon.url }}">
                {% endif %}

                <svg class="our-reporting-card__icon"><use xlink:href="#icon-arrow-circle"></use></svg>
            </a>
        {% endfor %}
    </div>

    <div class="our-reporting-grid__banner-image">
        <img src="{{ block.banner_image.url }}" />
    </div>
</div>
