<div class="block / our-reporting-grid">
    <div class="our-reporting-grid__header">
        <h2 class="our-reporting-grid__heading">{{ block.heading }}</h2>

        {% if block.strapline %}
            <p class="our-reporting-grid__strapline">{{ block.strapline }}</p>
        {% endif %}
    </div>

    <div class="our-reporting-grid__grid">
        {% for card in block.cards %}
            <{{ card.type }}
                href="{{ card.url }}"
                class="our-reporting-card"
                style="
                    --background-colour: {{ card.background_colour }};
                    --text-colour: {{ card.text_colour }};
                    --accent-colour: {{ card.accent_colour }};
                    --column-start: {{ card.column_position.start }};
                    --column-span: {{ card.column_position.width }};
                    --row-start: {{ card.row_position.start }};
                    --row-span: {{ card.row_position.height }};
                "
                data-icon-position="{{ card.icon.position }}"
            >
                <div class="our-reporting-card__main">
                    <span class="our-reporting-card__heading">{{ card.heading }}</span>
                    {% if card.content_type == true %}
                        <p class="our-reporting-card__strapline">{{ card.strapline }}</p>
                    {% else %}
                        <p class="our-reporting-card__excerpt">{{card.excerpt}}</p>
                    {% endif %}
                </div>

                {% if card.icon.icon is not empty %}
                    {{ imgix({
                        class: 'our-reporting-card__image',
                        src: card.icon.icon.url,
                        aspect_ratio: [
                            card.icon.icon.width,
                            card.icon.icon.height
                        ],
                        params: {
                            auto: 'format'
                        }
                    }) }}
                {% endif %}

                {% if card.url is not empty %}
                    <svg class="our-reporting-card__icon"><use xlink:href="#icon-arrow-circle"></use></svg>
                {% endif %}
            </{{ card.type }}>
        {% endfor %}
    </div>

    {% if block.banner_image %}
        <div class="our-reporting-grid__banner-image">
            {{ imgix({
                src: block.banner_image.url,
                params: {
                    auto: 'format',
                    fit: 'crop'
                },
                aspect_ratio: [
                    block.banner_image.width,
                    block.banner_image.height
                ],
                transforms: [{
                    w: 300
                }, {
                    w: 500
                }, {
                    w: 600
                }, {
                    w: 1000
                }, {
                    w: 1200
                }, {
                    w: 1800
                }, {
                    w: 2400
                }, {
                    w: 2800
                }],
                sizes: '100vw',
                loading: 'lazy'
            }) }}
        </div>
    {% endif %}
</div>
