{% set options = { 'id': null } | merge(block.options) %}

<div id="{{ options.id }}" class="block" data-block-type="person">

	<div class="block__background" style="background-color: {{ block.background_colour }};"></div>

	<div class="block__container" style="color: {{ block.text_colour }};">
        {% if block.heading %}
            <h2 class="block__heading">{{ block.heading }}</h2>
        {% endif %}

        {% for contact in block.contacts %}

			<div class="block__author">

				<div class="block__author-avatar">

					{{ imgix({
						src: contact.avatar.url,
						params: {
							auto: 'format',
							fit: 'crop'
						},
						aspect_ratio: [1, 1],
						transforms: [{
							w: 125
						}, {
							w: 175
						}, {
							w: 250
						}, {
							w: 350
						}, {
							w: 525
						}],
						sizes: '100vw'
					}) }}

				</div>

				<div class="block__author-details">

					<h4 class="block__author-heading">{{ contact.title }}</h4>

					<p>{{ contact.name_bio }}</p>

					<div class="block__author-social">

						{% if contact.email_address %}

							<a href="mailto:{{ contact.email_address }}">
								<svg data-icon="mail"><use xlink:href="#icon-mail"></use></svg>
							</a>

						{% endif %}

						{% if contact.twitter_url %}

							<a href="{{ contact.twitter_url }}">
								<svg data-icon="twitter"><use xlink:href="#social-twitter"></use></svg>
							</a>

						{% endif %}

					</div>

				</div>

			</div>

		{% endfor %}

	</div>

</div>
