{% set options = { 'id': null } | merge(block.options) %}

<div id="{{ options.id }}" class="block" data-block-type="quote-carousel">

	<div class="block__background" style="background-color: {{ block.background_colour }}"></div>

	<div class="block__container" style="color: {{ block.text_colour }};">

		{% if block.title %}
			<h2 class="block__heading" data-alignment="{{ block.header_alignment }}">{{ block.title }}</h2>
		{% endif %}

		<div class="print-only">

			{% for card in block.quotes %}

				<blockquote>
					<p>{{ card.quotation }}</p>

					<footer>
                        {% if card.name is not empty %}
                            {{ card.name }}
                        {% endif %}

                        {% if card.name is not empty and card.bio is not empty %}
                            <br>
                        {% endif %}

                        {% if card.bio is not empty %}
                            {{ card.bio }}
                        {% endif %}
                    </footer>
				</blockquote>

			{% endfor %}

		</div>

		<div class="screen-only / block__carousel_container">

			<div class="block__carousel">

				{% for card in block.quotes %}

					<div class="block__carousel-item">

						{% include 'cards/quote.twig' with {
							'card': card,
							'options': {
								'image_loading': 'eager',
                                'image_style': block.image_style
							}
						} %}

					</div>

				{% endfor %}

			</div>

			<div class="block__carousel-controls">

				<button class="button--naked" rel="prev" aria-label="Previous">
					<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
						<circle cx="24" cy="24" r="24" fill="white"/>
						<path d="M24 6.04075e-06C19.2525 7.23472e-06 14.6117 1.40801 10.6645 4.04592C6.7174 6.68383 3.64127 10.4331 1.82527 14.8195C0.00927032 19.206 -0.465015 24.0324 0.462411 28.6884C1.38984 33.3444 3.6773 37.6208 7.03547 40.9766C10.3936 44.3324 14.6716 46.6168 19.3283 47.5409C23.9849 48.465 28.8111 47.9873 33.1962 46.1682C37.5813 44.3491 41.3284 41.2703 43.9635 37.3213C46.5986 33.3723 48.0034 28.7304 48 23.983C48 20.8321 47.3791 17.712 46.1728 14.8012C44.9664 11.8903 43.1983 9.24568 40.9695 7.01843C38.7407 4.79119 36.0948 3.02497 33.1831 1.82071C30.2714 0.616457 27.1509 -0.00223024 24 6.04075e-06ZM16.1021 34.4V29.7532L25.2936 24.2043L16.1021 18.8426V13.617L33.8723 24.2383L16.1021 34.4Z" fill="#323232"/>
					</svg>
				</button>

				<button class="button--naked" rel="next" aria-label="Next">
					<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
						<circle cx="24" cy="24" r="24" fill="white"/>
						<path d="M24 6.04075e-06C19.2525 7.23472e-06 14.6117 1.40801 10.6645 4.04592C6.7174 6.68383 3.64127 10.4331 1.82527 14.8195C0.00927032 19.206 -0.465015 24.0324 0.462411 28.6884C1.38984 33.3444 3.6773 37.6208 7.03547 40.9766C10.3936 44.3324 14.6716 46.6168 19.3283 47.5409C23.9849 48.465 28.8111 47.9873 33.1962 46.1682C37.5813 44.3491 41.3284 41.2703 43.9635 37.3213C46.5986 33.3723 48.0034 28.7304 48 23.983C48 20.8321 47.3791 17.712 46.1728 14.8012C44.9664 11.8903 43.1983 9.24568 40.9695 7.01843C38.7407 4.79119 36.0948 3.02497 33.1831 1.82071C30.2714 0.616457 27.1509 -0.00223024 24 6.04075e-06ZM16.1021 34.4V29.7532L25.2936 24.2043L16.1021 18.8426V13.617L33.8723 24.2383L16.1021 34.4Z" fill="#323232"/>
					</svg>
				</button>

			</div>

		</div>

	</div>

</div>
