{% set options = { 'id': null } | merge(block.options) %}

<div id="{{ options.id }}" class="block" data-block-type="quote-carousel">

	<div class="block__background" style="background-color: {{ block.background_colour }}"></div>

	<div class="block__container" style="color: {{ block.text_colour }};">

		{% if block.title %}
			<h2 class="block__heading" data-alignment="{{ block.header_alignment }}">{{ block.title }}</h2>
		{% endif %}

		<div class="print-only">

			{% for card in block.quotes %}

				<blockquote>
					<p>{{ card.quotation }}</p>
					<footer>{{ card.name }},<br>{{ card.bio }}</footer>
				</blockquote>

			{% endfor %}

		</div>

		<div class="screen-only / block__carousel_container">

			<div class="block__carousel-controls">

				<button class="button--naked" rel="prev" aria-label="Previous">
					<svg><use xlink:href="#icon-large-arrow"></use></svg>
				</button>

				<button class="button--naked" rel="next" aria-label="Next">
					<svg><use xlink:href="#icon-large-arrow"></use></svg>
				</button>

			</div>

			<div class="block__carousel">

				{% for card in block.quotes %}

					<div class="block__carousel-item">

						{% include 'cards/quote.twig' with {
							'card': card,
							'options': {
								'image_loading': 'eager'
							}
						} %}

					</div>

				{% endfor %}

			</div>

		</div>

	</div>

</div>
