{% set options = { 'id': null } | merge(block.options) %}

<div
    id="{{ options.id }}"
    class="sign-up / screen-only"
    data-mailchimp-success="true"
    style="
        --background-color: {{ block.background_colour }};
        --color: {{ block.text_colour}};
    "
>
    <div class="sign-up__container">
        <div class="sign-up__main">
            <h1 class="sign-up__heading">{{ block.heading }}</h1>

            {% if block.content %}
                <div class="sign-up__content">
                    {{ block.content | raw }}
                </div>
            {% endif %}
        </div>

        <div class="sign-up__form-container">
            <form class="sign-up__form / js-mailchimp-form">
                <div class="sign-up__form-regions">
                    {% for regionKey, regionLabel in block.regions %}
                        <label class="region-selector">
                            <input
                                type="checkbox"
                                name="regions"
                                class="region-selector__input"
                                value="{{ regionKey }}"
                            >

                            <span class="region-selector__control">{{ regionLabel }}</span>
                        </label>
                    {% endfor %}
                </div>

                <div class="sign-up__form-wrapper">
                    <input type="email" name="email" placeholder="Enter your email address" aria-label="Email" required>

                    <button class="sign-up__form-submit / button--naked" style="color: {{ block.background_colour }};" aria-label="Submit">
                        SUBSCRIBE
                        <svg style="fill: {{ block.background_colour }};"><use xlink:href="#icon-arrow-circle"></use></svg>
                    </button>
                </div>

                <p class="js-mailchimp-form__message"></p>
            </form>
        </div>
    </div>

    <div class="sign-up__thank-you">
        <h2 class="sign-up__thank-you__heading">{{ block.thank_you_heading }}</h2>

        {% if block.thank_you_subheading %}
            <p class="sign-up__thank-you__content">{{ block.thank_you_subheading }}</p>
        {% endif %}

        <div class="sign-up__thank-you__stories">
            {% for card in block.related %}
                {% include 'cards/primary.twig' with {
                    'card': card,
                    'options': {
                        'colour_scheme': block.card_options.colour_scheme
                    }
                } %}
            {% endfor %}
        </div>
    </div>
</div>
