{% set options = { 'id': null } | merge(block.options) %}

<div id="{{ options.id }}" class="block" data-block-type="title-with-icon" style="color: {{ block.text_colour }}">
    <div class="block__background" style="background-color: {{ block.background_colour }}"></div>

    <div class="block__image-container">
        <div class="block__image">
            {{ imgix({
                src: block.icon.url,
                params: {
                    auto: 'format',
                    fit: 'crop'
                },
                aspect_ratio: [1, 1],
                transforms: [{
                    w: 415
                }, {
                    w: 830
                }, {
                    w: 1024
                }, {
                    w: 1536
                }, {
                    w: 2048
                }],
                sizes: '(min-width: 1024px) 264px, 130px'
            }) }}
        </div>
    </div>

    <div class="block__container">
        <h2 class="block__heading">{{ block.title | raw }}</h2>
    </div>
</div>
