<div class="where-we-work" data-block-type="where-we-work">
    <div class="where-we-work__background" style="background-color: {{ block.background_colour }}"></div>
    <h2 class="where-we-work__title">{{ block.heading }}</h2>

    <div class="where-we-work__map-container">
        <div class="where-we-work__left">
            <div class="where-we-work__cta-list">
                {% for region in block.regions %}
                    <a
                        href="{{ region.link.url }}"
                        class="button button--has-icon where-we-work__region-button region"
                        data-colour="blue"
                        data-region="{{ region.slug }}"
                    >
                        {{ region.link.title }}
                        <svg class="where-we-work__button-icon"><use xlink:href="#icon-arrow-circle"></use></svg>
                    </a>
                {% endfor %}
            </div>
        </div>

        <div class="where-we-work__map">
            {% include 'views/blocks/where-we-work-map.twig' %}
        </div>
    </div>
</div>
